<div class="container">
    <h2>Calculadora de Compras</h2>
    <form>
      <div class="form-group">
        <label for="precioUnitario">Precio Unitario:</label>
        <input type="number" id="precioUnitario" [(ngModel)]="precioUnitario" name="precioUnitario">
      </div>
      <div class="form-group">
        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" [(ngModel)]="cantidad" name="cantidad">
      </div>
      <button type="button" (click)="calcularTotal()">Calcular Total</button>
    </form>
    <div *ngIf="total > 0">
      <p>Total a Pagar: {{ total | currency: 'S/.' }}</p>
    </div>
  </div>
  